<header class="header">
    <!-- adding dropdown menu -->
<div class="dropdown">
    <button onclick="myFunction()" class="dropbtn">Menu</button>
    <div id="myDropdown" class="dropdown-content">
      <a href="#home">Home</a>
      <a href="#mytasks">My Tasks</a>
      <a href="#calander">Calander</a>
      <a href="#bin">Bin</a>
      
    </div>
<!-- adding dropdown menu -->
    <nav class="header__nav">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <a href="/contact">Contact</a>
            </li>
        </ul>
    </nav>
    <div class="header__button">
        <button class="searcBtn" aria aria-expanded="false">
            search
        </button>
    </div>
</header>