<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/stylesheet_plus.css">
        <title>Tasks</title>
        <link rel="icon" href="/images/titleimg2.jpg" type="image/x-icon">
    </head>
    <body>
        <h1>Enter the tasks</h1>
        <div>
            <form>
                <label for="task1">T1</label>
                <input type="text" id="task1">
                <input type="button" >submit <input/>
            </form>
        </div>
    </body>
</html>