<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assigmentor</title>
        <link rel="icon" href="/images/titleimg2.jpg" type="image/x-icon">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/stylesheet.css">
    <script type="text/javascript" defer src="/javascript/s1.js"></script>
</head>
 <body>
<div class="container">
<%- include('../partials/header1.ejs') %>
<%- body %>
<%- include('../partials/footer1.ejs') %>
</div>

</body>
</html>